// Sizes:
$base-size: 16px;

// Colors:
$main: #4381C1;
$light: #ffffff;
$dark: #4e4b5c;
$primary-light: #bdadea;
$primary-dark: #bea2c2;
$secondary-dark: #ac7871;
$secondary-light: #B8B7B8;
$warning: #c22149;

