@import '../../../styles/settings.scss';

.root {
  display: flex;
  justify-content: center;
  color: $dark-gray;

  .link {
    text-decoration: none;
  }

  .postContainer {
    margin: 30px 0;
    padding: 10px 0;
    background: $light;
    min-width: 600px;
    border-radius: 3%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid 1px $light-heather;

    .imageContainer {
      height: 300px;
      width: 95%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        border-radius: 3%;
      }
    }

    .infoContainer {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      text-align: center;

      h1 {
        color: $dark-heather;
        margin: 10px;
      }

      .address {
        h2 {
          margin: 15px 0;
        }
      }
      .text {
        width: 100%;
        font-size: $base-size;
        border-top: solid 1px $light-heather;
        border-bottom: solid 1px $light-heather;
      }
      .price {
        font-size: $base-size +5;
        font-weight: 700;
      }
      .contactInfo {
        text-align: center;
        background: $light-heather;
        width: 100%;
        padding: 10px;
        color: $light;
        h3 {
          margin: 5px;
        }
        p {
          margin: 5px;
        }
        span {
          font-weight: 700;
        }
      }
      .dates {
        color: $light-gray;
        span {
          margin-left: 50px;
        }
      }
      .editButton {
        margin-bottom: 20px;
      }
    }
  }
}
