@import '../../styles/settings.scss';

.root {
  min-height: 80px;
  padding: 10px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $main;
  align-items: center;

  .headerLink {
    text-decoration: none;
  }

  .link {
    color: $light;
    text-transform: uppercase;
    font-size: $base-size;
    font-weight: 700;
    margin-left: 40px;
    text-decoration: none;
  }

  h1 {
    color: $light;
    text-transform: uppercase;
    font-size: $base-size + 5;
  }

  .navlinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .navItem {
      margin-left: 40px;
    }
    .navSelect {
      margin: 0 0 15px 40px;
    }
  }
}

