@import '../../styles/settings.scss';

.root {
  min-height: 80px;
  padding: 10px 30px;
  @include flex(row, center, space-between);
  background-color: $main;

  .headerLink {
    text-decoration: none;
  }

  .link {
    color: $light;
    text-transform: uppercase;
    font-size: $base-size;
    font-weight: 700;
    margin-left: 40px;
    text-decoration: none;
  }

  h1 {
    color: $light;
    text-transform: uppercase;
    font-size: $base-size + 5;
  }

  .navlinks {
    @include flex(row, center, center);
    .navItem {
      margin-left: 40px;
    }
    .navSelect {
      margin: 0 0 15px 40px;
    }
  }
}

@media (max-width: 820px) {
  .root {
  min-height: 80px;
  background-color: $main;

  .headerLink {
    text-decoration: none;
  }

  .link {
    color: $light;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    margin-left: 15px;
    text-decoration: none;
  }

  h1 {
    display: none;
  }

  .navlinks {
    @include flex(row, center, center);
    .navItem {
      margin-left: 15px;
    }
    .navSelect {
      margin: 0 15px 10px 15px;
    }
  }
}
}


