@import '../../styles/settings.scss';

.root {
  min-height: 80px;
  padding: 5px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $main;
  align-items: center;

  .link {
    text-decoration: none;
  }

  h1 {
    color: $light;
    text-transform: uppercase;
    font-size: $base-size + 5;
  }

  .buttons {
    display: flex;
    flex-direction: row;

    .linkDiv {
      display: flex;
      align-items: center;

      .link {
        text-decoration: none;
        color: $light;
        font-size: $base-size;
        text-transform: uppercase;
        font-weight: 700;
        margin: 0 20px;
      }
  }
    .googleButtons {
      margin-right: 20px;
    }
    .select {
      margin-left: 400px;
    }
  }
}

