@import '../../styles/settings.scss';

.root {
  margin-top: 40px;
  min-height: 80px;
  padding: 5px 25px;
  background-color: $main;
  @include flex(row, center, center);

  p {
    color: $light;
    font-size: $base-size;
    font-weight: 700;
  }
}

@media (max-width: 820px) {
  .root {
    p {
      color: $light;
      font-size: 10px;
      font-weight: 700;
    }
  }
}
