@import '../../styles/settings.scss';

.root {
  @include flex(column, center, center);
  color: $dark;

  .spinner {
    text-align: center;
    margin: 100px 0;
  }

  .link {
    text-decoration: none;
  }

  .postContainer {
    margin: 20px 0;
    padding: 20px 0;
    background: $light;
    max-width: 800px;
    border-radius: 3%;
    @include flex(column, center, center);
    border: solid 1px $secondary-light;

    .draftWarning {
      text-align: center;
      p {
        color: $warning;
        font-size: $base-size;
      }
    }

    img {
      max-width: 90%;
      max-height: 700px;
      object-fit: cover;
      overflow: hidden;
      border-radius: 5%;
    }

    .infoContainer {
      display: flex;
      @include flex(column, center, center);
      width: 100%;

      h1 {
        color: $secondary-dark;
        margin: 10px;
      }

      .address {
        margin: 20px 0;
        text-align: center;
        h2 {
          margin: 5px 0;
        }
      }
      .text {
        width: 100%;
        font-size: $base-size;
        border-top: solid 1px $secondary-light;
        border-bottom: solid 1px $secondary-light;
        padding: 20px;
      }
      .price {
        font-size: $base-size +5;
        font-weight: 700;
      }
      .contactInfo {
        text-align: center;
        background: $primary-dark;
        width: 100%;
        padding: 10px;
        color: $light;
        h3 {
          margin: 5px;
        }
        p {
          margin: 5px;
        }
        span {
          font-weight: 700;
        }
      }
      .dates {
        padding: 0 20px;
        color: $secondary-light;
        span {
          margin-left: 50px;
        }
      }
      .buttons {
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 820px) {
  .root {
    .buttons {
      .button {
        margin: 10px 0;
      }
    }
    .postContainer {
      .dates {
        font-size: 12px;
      }
    }
  }
}
